$font-stack: Marker Felt, fantasy;
$backcolour1: #B58CFF;
$backcolour2: #FFA1B0;
$button1:#F0A1FF;
$button2:#BF74CC;
$logo: #F0E9FE;
$navi: #8869BF;
$notes1: #EFF1B8;
$notes2: #A1FFF0;
$notes3: #F9C2CB;